.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
}

.profile-edit {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-stats-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.stat {
    text-align: center;
}

    .stat h3 {
        margin: 0;
        font-size: 24px;
    }

    .stat p {
        margin: 0;
        color: #888;
    }

.profile-form {
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.profile-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.tab {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.tab-content {
    display: none;
}

    .tab-content.active {
        display: block;
    }

.tab.active {
    background-color: #ddd;
}

.form-group {
    flex-direction: column;
    gap: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.form-column {
    flex: 1 1 calc(50% - 15px);
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
}

.custom-text {
    color: black !important;
    font-size: 50px !important;
}

.user-info {
    transition: font-weight 0.3s ease;
}
.user-info:hover {
    border: 1px solid black;
    color: black
}
    .user-info:focus {
        border: 1px solid black;
        color: black
    }


@media (max-width: 768px) {
    .form-column {
        flex: 1 1 100%;
    }
}
